In [6]:
import pandas as pd

In [7]:
import os

In [8]:
from sqlalchemy import create_engine

In [9]:
from dotenv import load_dotenv

In [10]:
load_dotenv()

True

In [11]:
db_url = os.getenv("DATABASE_URL")

In [12]:
sql_query = """
select* from
purchase_data pd
left join transaction_data td 
on pd."LYLTY_CARD_NBR"=td."LYLTY_CARD_NBR";
"""

In [13]:
data_df = pd.read_sql(sql_query,con=db_url)

In [14]:
print(data_df.columns)

Index(['LYLTY_CARD_NBR', 'LIFESTAGE', 'PREMIUM_CUSTOMER', 'DATE', 'STORE_NBR',
       'LYLTY_CARD_NBR', 'TXN_ID', 'PROD_NBR', 'PROD_NAME', 'PROD_QTY',
       'TOT_SALES'],
      dtype='object')

In [15]:
data_df['DATE'] = pd.to_datetime(data_df['DATE'], errors='coerce')

In [ ]:
engine = create_engine(db_url)

In [ ]:
transaction_data = data_df
transaction_data.head()

,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,103217,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043598,103,103217,103326,9,Kettle Tortilla ChpsBtroot&Ricotta 150g,1,4.6
1,103294,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043611,103,103294,103415,73,Smiths Crinkle Cut Salt & Vinegar 170g,1,2.9
2,103345,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043516,103,103345,103484,81,Pringles Original Crisps 134g,2,7.4
3,103345,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043556,103,103345,103485,56,Cheezels Cheese Box 125g,2,4.2
4,103345,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043607,103,103345,103486,110,WW Original Corn Chips 200g,2,3.8

In [ ]:
transaction_data.head()

,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,103217,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043598,103,103217,103326,9,Kettle Tortilla ChpsBtroot&Ricotta 150g,1,4.6
1,103294,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043611,103,103294,103415,73,Smiths Crinkle Cut Salt & Vinegar 170g,1,2.9
2,103345,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043516,103,103345,103484,81,Pringles Original Crisps 134g,2,7.4
3,103345,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043556,103,103345,103485,56,Cheezels Cheese Box 125g,2,4.2
4,103345,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043607,103,103345,103486,110,WW Original Corn Chips 200g,2,3.8

In [ ]:
data_df.head()

,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,103217,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043598,103,103217,103326,9,Kettle Tortilla ChpsBtroot&Ricotta 150g,1,4.6
1,103294,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043611,103,103294,103415,73,Smiths Crinkle Cut Salt & Vinegar 170g,1,2.9
2,103345,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043516,103,103345,103484,81,Pringles Original Crisps 134g,2,7.4
3,103345,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043556,103,103345,103485,56,Cheezels Cheese Box 125g,2,4.2
4,103345,OLDER FAMILIES,Budget,1970-01-01 00:00:00.000043607,103,103345,103486,110,WW Original Corn Chips 200g,2,3.8

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [47]:
load_dotenv()
con = os.getenv("DATABASE_URL")

In [4]:
engine = create_engine(con)

In [5]:
purchase_data_query = '''
select * from
purchase_data pd;
'''
purchase_data = pd.read_sql(purchase_data_query, con=engine)

In [22]:
purchase_data.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [6]:
joined_query = '''
select * from
purchase_data pd
left join transaction_data td 
on pd."LYLTY_CARD_NBR"=td."LYLTY_CARD_NBR";
'''

In [7]:
data = pd.read_sql(joined_query, con=engine)

In [27]:
data.head()

,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2373,MIDAGE SINGLES/COUPLES,Budget,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
1,4074,MIDAGE SINGLES/COUPLES,Budget,2019-05-19,4,4074,2982,57,Old El Paso Salsa Dip Tomato Mild 300g,1,5.1
2,4149,MIDAGE SINGLES/COUPLES,Budget,2019-05-16,4,4149,3333,16,Smiths Crinkle Chips Salt & Vinegar 330g,1,5.7
3,4196,MIDAGE SINGLES/COUPLES,Budget,2019-05-16,4,4196,3539,24,Grain Waves Sweet Chilli 210g,1,3.6
4,7150,MIDAGE SINGLES/COUPLES,Budget,2018-08-18,7,7150,6900,52,Grain Waves Sour Cream&Chives 210G,2,7.2

In [8]:
data.isna().sum()

LYLTY_CARD_NBR      0
LIFESTAGE           0
PREMIUM_CUSTOMER    0
DATE                0
STORE_NBR           0
LYLTY_CARD_NBR      0
TXN_ID              0
PROD_NBR            0
PROD_NAME           0
PROD_QTY            0
TOT_SALES           0
dtype: int64

In [9]:
data.shape

(264836, 11)

In [10]:
data = data.drop_duplicates

In [11]:
purchase_data_query = '''
select * from transaction_data;
'''
transaction_data = pd.read_sql(purchase_data_query, con=engine)

In [12]:
merged_df = transaction_data.merge(purchase_data, on='LYLTY_CARD_NBR', how='left')

In [13]:
merged_df.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,MIDAGE SINGLES/COUPLES,Budget
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,MIDAGE SINGLES/COUPLES,Budget

### objectives
1. top 10 most purchased brand
2. total sales by customer life stage
3. average spend per customer category

### Top 10 brands

In [14]:
top_brands = (merged_df.groupby('PROD_NAME')['PROD_QTY'].sum().sort_values(ascending=False).head(10))

In [34]:
top_brands

PROD_NAME
Dorito Corn Chp     Supreme 380g            6509
Kettle Mozzarella   Basil & Pesto 175g      6381
Kettle Tortilla ChpsHny&Jlpno Chili 150g    6309
Cobs Popd Sea Salt  Chips 110g              6277
Cobs Popd Swt/Chlli &Sr/Cream Chips 110g    6256
Tostitos Splash Of  Lime 175g               6234
Tyrrells Crisps     Ched & Chives 165g      6227
Kettle 135g Swt Pot Sea Salt                6212
Infuzions Thai SweetChili PotatoMix 110g    6206
Thins Potato Chips  Hot & Spicy 175g        6185
Name: PROD_QTY, dtype: int64

### total sales by customer life stage

In [15]:
sales_by_lifestage = (merged_df.groupby('LIFESTAGE')['TOT_SALES'].sum().sort_values(ascending=False))

In [16]:
sales_by_lifestage

LIFESTAGE
OLDER SINGLES/COUPLES     402426.75
RETIREES                  366470.90
OLDER FAMILIES            353767.20
YOUNG FAMILIES            316160.10
YOUNG SINGLES/COUPLES     260405.30
MIDAGE SINGLES/COUPLES    184751.30
NEW FAMILIES               50433.45
Name: TOT_SALES, dtype: float64

### average spend per customer category

In [17]:
avg_spend_category = (merged_df.groupby('PREMIUM_CUSTOMER')['TOT_SALES'].mean())

In [18]:
avg_spend_category

PREMIUM_CUSTOMER
Budget        7.258838
Mainstream    7.361106
Premium       7.281556
Name: TOT_SALES, dtype: float64

### Monthly sales trend

In [19]:
merged_df['YEAR']=merged_df['DATE'].dt.year

In [20]:
merged_df['MONTH']=merged_df['DATE'].dt.month

In [21]:
merged_df['MONTH_NAME']=merged_df['DATE'].dt.month_name()

In [22]:
merged_df.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LIFESTAGE,PREMIUM_CUSTOMER,YEAR,MONTH,MONTH_NAME
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0,YOUNG SINGLES/COUPLES,Premium,2018,10,October
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3,MIDAGE SINGLES/COUPLES,Budget,2019,5,May
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,MIDAGE SINGLES/COUPLES,Budget,2019,5,May
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0,MIDAGE SINGLES/COUPLES,Budget,2018,8,August
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8,MIDAGE SINGLES/COUPLES,Budget,2018,8,August

In [23]:
monthly_sales=(merged_df.groupby(['YEAR', 'MONTH_NAME'])['TOT_SALES'].sum().reset_index().sort_values(['YEAR', 'MONTH_NAME']))

In [24]:
monthly_sales

    YEAR MONTH_NAME  TOT_SALES
0   2018     August  158731.05
1   2018   December  167913.40
2   2018       July  165275.30
3   2018   November  160233.70
4   2018    October  164415.70
5   2018  September  160522.00
6   2019      April  159845.10
7   2019   February  150665.00
8   2019    January  162642.30
9   2019       June  160538.60
10  2019      March  166265.20
11  2019        May  157367.65

In [30]:
yearly_sales=(merged_df.groupby('YEAR')['TOT_SALES'].sum().sort_values(ascending=False))

In [31]:
yearly_sales

YEAR
2018    977091.15
2019    957323.85
Name: TOT_SALES, dtype: float64

### store performance

In [26]:
store_sales = (merged_df.groupby('STORE_NBR')['TOT_SALES'].sum().sort_values(ascending=False).head(10))

In [27]:
store_sales

STORE_NBR
226    18905.45
88     16333.25
165    15973.75
40     15559.50
237    15539.50
58     15251.45
199    14797.00
4      14647.65
203    14551.60
26     14469.30
Name: TOT_SALES, dtype: float64

In [28]:
product_sales = (merged_df.groupby('PROD_NAME')['TOT_SALES'].sum().sort_values(ascending=False).head(10))

In [29]:
product_sales

PROD_NAME
Dorito Corn Chp     Supreme 380g            40352.0
Smiths Crnkle Chip  Orgnl Big Bag 380g      36367.6
Smiths Crinkle Chips Salt & Vinegar 330g    34804.2
Kettle Mozzarella   Basil & Pesto 175g      34457.4
Smiths Crinkle      Original 330g           34302.6
Cheezels Cheese 330g                        34296.9
Doritos Cheese      Supreme 330g            33390.6
Kettle Sweet Chilli And Sour Cream 175g     33031.8
Kettle Original 175g                        32740.2
Kettle Sea Salt     And Vinegar 175g        32589.0
Name: TOT_SALES, dtype: float64

### Customer behaviour

### which life stage buys the largest quantity

In [33]:
merged_df.columns

Index(['DATE', 'STORE_NBR', 'LYLTY_CARD_NBR', 'TXN_ID', 'PROD_NBR',
       'PROD_NAME', 'PROD_QTY', 'TOT_SALES', 'LIFESTAGE', 'PREMIUM_CUSTOMER',
       'YEAR', 'MONTH', 'MONTH_NAME'],
      dtype='object')

In [ ]:
quantity_by_lifestage = (merged_df.groupby('LIFESTAGE')['PROD_QTY'].sum().sort_values(ascending=False))

In [35]:
quantity_by_lifestage

LIFESTAGE
OLDER SINGLES/COUPLES     104203
OLDER FAMILIES             94992
RETIREES                   94166
YOUNG FAMILIES             84561
YOUNG SINGLES/COUPLES      66634
MIDAGE SINGLES/COUPLES     47721
NEW FAMILIES               12847
Name: PROD_QTY, dtype: int64

### which premium tier spends the most overall?

In [45]:
premium_spend = (merged_df.groupby('PREMIUM_CUSTOMER')['TOT_SALES'].sum().sort_values(ascending=False))

In [46]:
premium_spend

PREMIUM_CUSTOMER
Mainstream    750744.50
Budget        676211.55
Premium       507458.95
Name: TOT_SALES, dtype: float64